
body {
    background-color: cyan;
}



h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#thetop {
    height: 30px;
    background-color: yellow;
}

#display {
    position: relative;
    background-color: gray;
    height: 680px;
    width: 670px;
    margin: 0 auto;
}

.obstacles {
    position: absolute;
    height: 50px;
    width: 70px;
    background-color: orange;
    border-radius: 10px;
    top: 0;
    left: 0;
}

.bullets {
    position: absolute;
    bottom: 150px;
    left: 51%;
    width: 2px;
    height: 20px;
    background:yellow;
    background-size: contain;
    background-repeat: no-repeat;
  }

#car {
    position: absolute;
    background-color: red;
    border-color: black;
    border-radius: 10px;
    height: 40px;
    width: 30px;
    position:absolute;
    left: 330px; 
    bottom: 150px;
}

.directionleft {
    position: absolute;
    top: 700px;
    left: 300px;
    padding: 10px
}

.directionright {
    position: absolute;
    top: 700px;
    left: 350px;
    padding: 10px
}

#theend {
    position: absolute;
    height: 5px;
    width: 670px;
    background-color: black;
    top: 670px;
}
