
body {
    background-color: indigo;
}

#score {
    height: 40px;
    width: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    color: white;
    font-size: 30px;
    left: 20px;
    top: -10px;
}

h1 {
    font-family: monospace;
    text-align: center;
    color: yellow;
}

#thetop {
    height: 30px;
    background-color: black;
    top: 0px
}

#display {
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1584974292709-5c2f0619971b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2940&q=80");
    background-size: cover;
    border-style: solid;
    height: 600px;
    width: 670px;
    margin: 0 auto;
}

#startscreen {
    position: relative;
    background-color: black;
    color: yellow;
    font-family: monospace;
    margin: 0 auto;
    top: 180px;
    height: 150px;
    width: 200px;
    border-radius: 30px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
}

#startbutton {
    position: relative;
    font-family: monospace;
    height: 100px;
    width: 200px;
    font-size: 30px;
    border-radius: 20px;
    top: 20px;
}

#startmessage {
    position: relative;
    font-size: 20px;
    text-align: center;
    top: 10px;
}

.aliens {
    position: absolute;
    height: 60px;
    width: 60px;
    background-image: url("normal.png");
    background-size: contain;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
}

.aliens2 {
    position: absolute;
    height: 90px;
    width: 90px;
    background-image: url("alien2.png");
    background-size: contain;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    color: red;
    font-family: monospace;
}

.bullets {
    position: absolute;
    bottom: 0px;
    width: 2px;
    height: 20px;
    background:yellow;
  }

#car {
    position: absolute;
    background-color: black;
    background: transparent;
    background-image: url("cartoontank.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    position:absolute;
    left: 320px; 
    bottom: -40px;
    border-style: solid;
    border-radius: 50px;
    border-color: cyan;
    border-bottom: hidden;
}

#theend {
    position: absolute;
    height: 50px;
    width: 670px;
    background: linear-gradient(brown, grey);
    border-style: solid;
    top: 600px;
    left: -3px;
}

#health {
    position: absolute;
    top: 640px;
    width: 670px;
    background-color: greenyellow;
}

.healthgreen::-webkit-progress-value { background: rgb(2, 245, 2) }

.healthyellow::-webkit-progress-value { background:yellow; }

.healthred::-webkit-progress-value { background: red; }

#endgamemsg {
    position: absolute;
    top: 40%;
    left: 30%;
    height: 150px;
    width: 250px;
    background-color: red;
    background-size: contain;
    padding: 10px;
    border-style: solid;
    border-width: 10px;
    border-radius: 30px;
    border-color: maroon;
    color: white;
    font-size: 40px;
    text-align: center;
}

.retrybutton {
    position: absolute;
    top: 65%;
    left: 25%;
    font-size: 30px;
    border-radius: 10px;
}

#choosedifficulty {
    position: absolute;
    top: 100px;
    left: 50px;
    font-size: 30px;
    font-weight: bold;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
}

.header{
    font-size: 30px;
    color: yellow
}
h5 {
    position: relative;
    font-size: 20px;
    font-family: monospace;
    color: white;
    text-align: right;
    right: 20px;
    top: 40px;
  
}

#overlay {
position: absolute;
height: 100%;
width: 100%;
top: 0px;
left: 0px;
}

